.body{
	width: 150px;
}
.body h1{
	font-size: 20px;
}
.sun-flower-button{outline:none;}
.sun-flower-button.on{
	position: relative;
	vertical-align: top;
	width: 100%;
	height: 60px;
	padding: 0;
	font-size: 22px;
	color: white;	
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #79d174;
	border: 0;
	border-bottom: 2px solid #549c50;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #549c50;
	box-shadow: inset 0 -2px #549c50;
}
.sun-flower-button.on:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.sun-flower-button.off{
	position: relative;
	vertical-align: top;
	width: 100%;
	height: 60px;
	padding: 0;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #8c4c64;
	border: 0;
	border-bottom: 2px solid #5e2b3e;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #5e2b3e;
	box-shadow: inset 0 -2px #5e2b3e;
}
.sun-flower-button.off:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}